<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Data - RTMST4</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-wine-glass-alt"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>RTMST4</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index'%}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'settings'%}"><i class="fas fa-user"></i><span>Settings</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin"><i class="fas fa-user"></i><span>Admin</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'data'%}"><i class="fas fa-table"></i><span>Data</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'outliers'%}"><i class="fas fa-table"></i><span>Outliers</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/wineTable"><i class="fas fa-table"></i><span>CSV Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login'%}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search Batch No ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Data</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Batches</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label>Show&nbsp;<select class="form-control form-control-sm custom-select custom-select-sm"><option value="10" selected="">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search Batch No ..."></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Batch #</th>
                                            <th>Type</th>
                                            <th>Fermentation</th>
                                            <th>Malolactic Acid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>76</td>
                                            <td>type</td>
                                            <td>33%</td>
                                            <td>medium</td>
                                        </tr>
                                        <tr>
                                            <td>120</td>
                                            <td>type</td>
                                            <td>47%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>type</td>
                                            <td>66%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>58</td>
                                            <td>type</td>
                                            <td>41%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>25</td>
                                            <td>type</td>
                                            <td>28%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>48</td>
                                            <td>type</td>
                                            <td>61%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>25<br></td>
                                            <td>type</td>
                                            <td>38%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>5435</td>
                                            <td>type</td>
                                            <td>21%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>325</td>
                                            <td>type</td>
                                            <td>46%</td>
                                            <td>medium<br></td>
                                        </tr>
                                        <tr>
                                            <td>45</td>
                                            <td>type</td>
                                            <td>22%</td>
                                            <td><strong>medium</strong></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Batch #</strong></td>
                                            <td><strong>Type</strong></td>
                                            <td><strong>Fermentation</strong></td>
                                            <td><strong>Malolactic Acid</strong></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>SEP</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/chart.min.js"></script>
    <script src="/static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/assets/js/theme.js"></script>
</body>

</html>